{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="css/article.css">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="module" src="js/article.js"></script>
{% endblock %}

{% block body %}
	<main>
		<section>
			<article>
				<div>
					<h1>{{ article.titre }}</h1>
					<img src="{{ 'img/' ~ article.imageSrc }}" alt="illustration article">
					<p>{{ article.contenu }}</p>
					<div>
						<h2>publié le
							{{ article.date | date("d/m/Y") }}</h2>
						<h2>
							par
							{{ article.user.pseudo }}</h2>
					</div>
					<div>
						<h2>Nombre de vues :
							{{ article.nbreVues }}</h2>
					</div>
				</div>
				<div>
					<a href="{{ path('app_categorie', { id: article.categorie.id }) }}">
						<h3>Retour</h3>
					</a>
				</div>
			</article>
		</section>
		<section>
			<article>
				<div>
					<h2>{{ total }}
						Commentaires :
					</h2>
				</div>
				<div>
					<h3>
						<a id="addComm" href="">Rédiger un commentaire :
						</a>
					</h3>
				</div>
			</article>
			<article id="comm">
				{{ form((commForm) )}}
				</article>
			</section>
			<section>
				{% for commentaire in article.commentaires %}
					<article class="comms">
						<div>
							{{ commentaire.user.pseudo }}
							le
							{{ commentaire.date | date("d/m/Y")}}
						</div>
						<div>
							<p>
								{{ commentaire.contenu }}
							</p>
						</div>
					</article>
				{% endfor %}
			</section>
		</main>
	{% endblock %}
